MONGO_URI=mongodb+srv://avachatrushikesh45_db_user:8cOlvqgkrfaS42Db@management-dashboard.vcntmaw.mongodb.net/management-dashboard?retryWrites=true&w=majority&appName=management-dashboard
PORT=4000
FRONTEND_URL=http://localhost:5173
